In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
import pickle
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.impute import KNNImputer

In [2]:
ofertas_empleo = pd.read_csv("C:\\Users\\GoraJ\\Downloads\\aprendiendo python\\PFB\\limpieza\\df_final.csv",
                      dtype={"salario_min": "float64",
                             "salario_max": "float64",
                             "estudios": "bool",
                             "experiencia": "float64",
                             "vacaciones": "Int64"},
                      parse_dates=["fecha", "fecha_extraccion"])

In [3]:
ofertas_empleo = ofertas_empleo.drop(["id_urls", "fecha", "oferta", "fecha_extraccion", "descripcion", "empresa"], axis = 1)

In [4]:
ofertas_empleo

,funcion,salario_min,salario_max,estudios,experiencia,ubicacion,modalidad,jornada,contrato,skills,tecnologias_aptitudes,idiomas,vacaciones,beneficios,portal_empleo
0,Analista Programador,NaN,NaN,True,3.0,Madrid,Híbrido,Jornada completa,Indefinido,NaN,"java, javascript, spring, angular, react, html...",Inglés,<NA>,NaN,tecnoempleo
1,Programador,30000.0,30000.0,True,2.0,Malta,Presencial,Jornada completa,Temporal,NaN,"php7, phpunit, ajax, composer, poo, psr4, svn,...",Inglés,<NA>,NaN,tecnoempleo
2,Programador,NaN,NaN,True,3.0,Baleares,Híbrido,Jornada completa,Indefinido,NaN,"C#, Golang, PHP, git, kubernetes, api, data, c...",Inglés,<NA>,NaN,tecnoempleo
3,Analista Programador,NaN,NaN,True,5.0,Madrid,NaN,Jornada completa,Indefinido,NaN,"Java, REST, API, Git, CI/CD, Hibernate, Docker...",Inglés,<NA>,NaN,tecnoempleo
4,Analista Programador,27000.0,33000.0,True,2.0,Barcelona,Híbrido,Jornada completa,Indefinido,NaN,"Java, Angular, SQL, SCRUM, Git, Html, CSS, Boo...",Inglés,<NA>,NaN,tecnoempleo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5231,NaN,45000.0,45000.0,False,NaN,NaN,Teletrabajo,NaN,NaN,NaN,NaN,NaN,24,NaN,getmanfred
5232,NaN,40000.0,50000.0,False,NaN,Madrid,Híbrido,Jornada completa,NaN,NaN,NaN,NaN,28,NaN,getmanfred
5233,NaN,50000.0,60000.0,False,NaN,NaN,Teletrabajo,NaN,NaN,NaN,NaN,NaN,22,NaN,getmanfred
5234,NaN,40000.0,45000.0,False,NaN,NaN,Teletrabajo,Jornada completa,NaN,"Aprendizaje Continuo, Trabajo en equipo, Atenc...","PHP, MySQL, Symfony, Laravel, Elasticsearch",NaN,22,"Clases de Idiomas, Presupuesto para formación,...",getmanfred
5235,NaN,45000.0,55000.0,False,NaN,NaN,Teletrabajo,NaN,NaN,NaN,NaN,NaN,22,NaN,getmanfred

In [5]:
#aqui se pone el numero de skills/tecnologias_aptitudes/beneficios que piden porque son varias
ofertas_empleo["skills"] = ofertas_empleo["skills"].apply(lambda x : len(x.split(",")) if not pd.isna(x) else 0)
ofertas_empleo["tecnologias_aptitudes"] = ofertas_empleo["tecnologias_aptitudes"].apply(lambda x : len(x.split(",")) if not pd.isna(x) else 0)
ofertas_empleo["beneficios"] = ofertas_empleo["beneficios"].apply(lambda x : len(x.split(",")) if not pd.isna(x) else 0)

In [6]:
ofertas_empleo

,funcion,salario_min,salario_max,estudios,experiencia,ubicacion,modalidad,jornada,contrato,skills,tecnologias_aptitudes,idiomas,vacaciones,beneficios,portal_empleo
0,Analista Programador,NaN,NaN,True,3.0,Madrid,Híbrido,Jornada completa,Indefinido,0,8,Inglés,<NA>,0,tecnoempleo
1,Programador,30000.0,30000.0,True,2.0,Malta,Presencial,Jornada completa,Temporal,0,8,Inglés,<NA>,0,tecnoempleo
2,Programador,NaN,NaN,True,3.0,Baleares,Híbrido,Jornada completa,Indefinido,0,11,Inglés,<NA>,0,tecnoempleo
3,Analista Programador,NaN,NaN,True,5.0,Madrid,NaN,Jornada completa,Indefinido,0,11,Inglés,<NA>,0,tecnoempleo
4,Analista Programador,27000.0,33000.0,True,2.0,Barcelona,Híbrido,Jornada completa,Indefinido,0,10,Inglés,<NA>,0,tecnoempleo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5231,NaN,45000.0,45000.0,False,NaN,NaN,Teletrabajo,NaN,NaN,0,0,NaN,24,0,getmanfred
5232,NaN,40000.0,50000.0,False,NaN,Madrid,Híbrido,Jornada completa,NaN,0,0,NaN,28,0,getmanfred
5233,NaN,50000.0,60000.0,False,NaN,NaN,Teletrabajo,NaN,NaN,0,0,NaN,22,0,getmanfred
5234,NaN,40000.0,45000.0,False,NaN,NaN,Teletrabajo,Jornada completa,NaN,5,5,NaN,22,7,getmanfred
5235,NaN,45000.0,55000.0,False,NaN,NaN,Teletrabajo,NaN,NaN,0,0,NaN,22,0,getmanfred

In [7]:
#VARIABLES YA NUMERICAS (SALARIO, EXPERIENCIA, ESTUDIOS)
# salario medio
ofertas_empleo["salario_medio"] = ofertas_empleo[["salario_min", "salario_max"]].mean(axis=1)

# experiencia 
ofertas_empleo["experiencia"] = ofertas_empleo["experiencia"].fillna(0)

# bool a 0 y 1
ofertas_empleo["estudios"] = ofertas_empleo["estudios"].astype(int)

In [8]:
ofertas_empleo

,funcion,salario_min,salario_max,estudios,experiencia,ubicacion,modalidad,jornada,contrato,skills,tecnologias_aptitudes,idiomas,vacaciones,beneficios,portal_empleo,salario_medio
0,Analista Programador,NaN,NaN,1,3.0,Madrid,Híbrido,Jornada completa,Indefinido,0,8,Inglés,<NA>,0,tecnoempleo,NaN
1,Programador,30000.0,30000.0,1,2.0,Malta,Presencial,Jornada completa,Temporal,0,8,Inglés,<NA>,0,tecnoempleo,30000.0
2,Programador,NaN,NaN,1,3.0,Baleares,Híbrido,Jornada completa,Indefinido,0,11,Inglés,<NA>,0,tecnoempleo,NaN
3,Analista Programador,NaN,NaN,1,5.0,Madrid,NaN,Jornada completa,Indefinido,0,11,Inglés,<NA>,0,tecnoempleo,NaN
4,Analista Programador,27000.0,33000.0,1,2.0,Barcelona,Híbrido,Jornada completa,Indefinido,0,10,Inglés,<NA>,0,tecnoempleo,30000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5231,NaN,45000.0,45000.0,0,0.0,NaN,Teletrabajo,NaN,NaN,0,0,NaN,24,0,getmanfred,45000.0
5232,NaN,40000.0,50000.0,0,0.0,Madrid,Híbrido,Jornada completa,NaN,0,0,NaN,28,0,getmanfred,45000.0
5233,NaN,50000.0,60000.0,0,0.0,NaN,Teletrabajo,NaN,NaN,0,0,NaN,22,0,getmanfred,55000.0
5234,NaN,40000.0,45000.0,0,0.0,NaN,Teletrabajo,Jornada completa,NaN,5,5,NaN,22,7,getmanfred,42500.0
5235,NaN,45000.0,55000.0,0,0.0,NaN,Teletrabajo,NaN,NaN,0,0,NaN,22,0,getmanfred,50000.0

In [9]:
#aqui se ponen por lista las ubicaciones e idiomas
ofertas_empleo["ubicacion"] = ofertas_empleo["ubicacion"].apply(lambda x : [y.strip() for y in x.split(",")] if not pd.isna(x) else x)
ofertas_empleo = ofertas_empleo.explode("ubicacion").reset_index(drop = True)

ofertas_empleo["idiomas"] = ofertas_empleo["idiomas"].apply(lambda x : [y.strip() for y in x.split(",")] if not pd.isna(x) else x)
ofertas_empleo = ofertas_empleo.explode("idiomas").reset_index(drop = True)

In [10]:
ofertas_empleo

,funcion,salario_min,salario_max,estudios,experiencia,ubicacion,modalidad,jornada,contrato,skills,tecnologias_aptitudes,idiomas,vacaciones,beneficios,portal_empleo,salario_medio
0,Analista Programador,NaN,NaN,1,3.0,Madrid,Híbrido,Jornada completa,Indefinido,0,8,Inglés,<NA>,0,tecnoempleo,NaN
1,Programador,30000.0,30000.0,1,2.0,Malta,Presencial,Jornada completa,Temporal,0,8,Inglés,<NA>,0,tecnoempleo,30000.0
2,Programador,NaN,NaN,1,3.0,Baleares,Híbrido,Jornada completa,Indefinido,0,11,Inglés,<NA>,0,tecnoempleo,NaN
3,Analista Programador,NaN,NaN,1,5.0,Madrid,NaN,Jornada completa,Indefinido,0,11,Inglés,<NA>,0,tecnoempleo,NaN
4,Analista Programador,27000.0,33000.0,1,2.0,Barcelona,Híbrido,Jornada completa,Indefinido,0,10,Inglés,<NA>,0,tecnoempleo,30000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5354,NaN,45000.0,45000.0,0,0.0,NaN,Teletrabajo,NaN,NaN,0,0,NaN,24,0,getmanfred,45000.0
5355,NaN,40000.0,50000.0,0,0.0,Madrid,Híbrido,Jornada completa,NaN,0,0,NaN,28,0,getmanfred,45000.0
5356,NaN,50000.0,60000.0,0,0.0,NaN,Teletrabajo,NaN,NaN,0,0,NaN,22,0,getmanfred,55000.0
5357,NaN,40000.0,45000.0,0,0.0,NaN,Teletrabajo,Jornada completa,NaN,5,5,NaN,22,7,getmanfred,42500.0
5358,NaN,45000.0,55000.0,0,0.0,NaN,Teletrabajo,NaN,NaN,0,0,NaN,22,0,getmanfred,50000.0

In [11]:
#antes de clasificar españa/extranjero voy a rellenar los nans de modalidad en funcion de la ubicacion
#si la ubicacion es teletrabajo o nan, en modalidad se pone "remoto" y si no es ninguna de estas es "presencial"
ofertas_empleo.loc[(ofertas_empleo["modalidad"].isna()) & 
                    ((ofertas_empleo["ubicacion"] == "Teletrabajo") | (ofertas_empleo["ubicacion"].isna())), "modalidad"] = "Remoto"

ofertas_empleo.loc[(ofertas_empleo["modalidad"].isna()) & 
                    ~((ofertas_empleo["ubicacion"] == "Teletrabajo") | (ofertas_empleo["ubicacion"].isna())), "modalidad"] = "Presencial"

In [12]:
ofertas_empleo["ubicacion"].unique()

array(['Madrid', 'Malta', 'Baleares', 'Barcelona', 'Teletrabajo',
       'Castellón', 'Las Palmas', 'Málaga', 'Vizcaya', 'Lleida', 'Cádiz',
       'Valencia', 'La Coruña', 'Alicante', 'Guipúzcoa', 'Holanda',
       'Portugal', 'Zaragoza', 'Reino Unido', 'Dinamarca', 'Polonia',
       'Badajoz', 'Córdoba', 'Alemania', 'Bélgica', 'Suecia', 'Andorra',
       'Navarra', 'Sevilla', 'Valladolid', 'Toledo', 'Francia', 'Israel',
       'Girona', 'Almería', 'Asturias', 'Salamanca', 'Ciudad Real',
       'Granada', 'Pontevedra', 'Cantabria', 'Murcia', 'Luxemburgo',
       'Burgos', 'Rumanía', 'Italia', 'Macedonia', 'Bulgaria', 'Álava',
       'Irlanda', 'Lugo', 'España', 'Hungría', 'Albacete',
       'Santa Cruz de Tenerife', 'London', 'Chipre', 'Tarragona',
       'Grecia', 'Segovia', 'Norte Europa', 'Melilla', 'Zamora',
       'Utrecht', 'Palencia', nan, 'León', 'La Rioja', 'Huesca',
       'Guadalajara', 'Ceuta', 'A Coruña', 'Bergondo', 'Vigo', 'Gijón',
       'Bilbao', 'Oviedo', 'Palma', 'Logroño', 'Alcobendas', 'Santander',
       'San Sebastián'], dtype=object)

In [13]:
#aqui se utilizan dos opciones (ubicacion: españa/extrajnero)
ubicaciones_extranjero = ['Malta', 'Holanda', 'Portugal', 'Reino Unido', 'Dinamarca', 'Polonia', 
                          'Alemania', 'Bélgica', 'Suecia', 'Andorra', 'Francia', 'Israel',
                          'Luxemburgo', 'Rumanía', 'Italia', 'Macedonia', 'Bulgaria', 'Irlanda',
                          'Hungría', 'London', 'Chipre', 'Grecia', 'Norte Europa', 'Utrecht']

# se reemplaza la columna por la clasificación españa/extranjero
ofertas_empleo["ubicacion"] = ofertas_empleo["ubicacion"].apply(lambda x: "Extranjero" if x in ubicaciones_extranjero else "España")

In [14]:
ofertas_empleo["idiomas"].unique()

array(['Inglés', nan, 'Alemán', 'Catalán', 'Español', 'Gallego',
       'Francés', 'Italiano', 'Persa', 'Checo', 'Serbio', 'Euskera',
       'Indonesio'], dtype=object)

In [15]:
#aqui se utilizan dos opciones (idiomas: ingles/otros)
ofertas_empleo["idiomas"] = ofertas_empleo["idiomas"].apply(lambda x: "Inglés" if x == "Inglés" else "Otros")

In [16]:
ofertas_empleo

,funcion,salario_min,salario_max,estudios,experiencia,ubicacion,modalidad,jornada,contrato,skills,tecnologias_aptitudes,idiomas,vacaciones,beneficios,portal_empleo,salario_medio
0,Analista Programador,NaN,NaN,1,3.0,España,Híbrido,Jornada completa,Indefinido,0,8,Inglés,<NA>,0,tecnoempleo,NaN
1,Programador,30000.0,30000.0,1,2.0,Extranjero,Presencial,Jornada completa,Temporal,0,8,Inglés,<NA>,0,tecnoempleo,30000.0
2,Programador,NaN,NaN,1,3.0,España,Híbrido,Jornada completa,Indefinido,0,11,Inglés,<NA>,0,tecnoempleo,NaN
3,Analista Programador,NaN,NaN,1,5.0,España,Presencial,Jornada completa,Indefinido,0,11,Inglés,<NA>,0,tecnoempleo,NaN
4,Analista Programador,27000.0,33000.0,1,2.0,España,Híbrido,Jornada completa,Indefinido,0,10,Inglés,<NA>,0,tecnoempleo,30000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5354,NaN,45000.0,45000.0,0,0.0,España,Teletrabajo,NaN,NaN,0,0,Otros,24,0,getmanfred,45000.0
5355,NaN,40000.0,50000.0,0,0.0,España,Híbrido,Jornada completa,NaN,0,0,Otros,28,0,getmanfred,45000.0
5356,NaN,50000.0,60000.0,0,0.0,España,Teletrabajo,NaN,NaN,0,0,Otros,22,0,getmanfred,55000.0
5357,NaN,40000.0,45000.0,0,0.0,España,Teletrabajo,Jornada completa,NaN,5,5,Otros,22,7,getmanfred,42500.0
5358,NaN,45000.0,55000.0,0,0.0,España,Teletrabajo,NaN,NaN,0,0,Otros,22,0,getmanfred,50000.0

In [17]:
#se mapean las funciones del puesto en funcion del salario_medio
map_funcion = {k : v for k,v in ofertas_empleo.groupby(by = "funcion", as_index = False).agg({"salario_medio" : "mean"}).values}
ofertas_empleo.funcion = ofertas_empleo.funcion.map(map_funcion)

In [18]:
ofertas_empleo

,funcion,salario_min,salario_max,estudios,experiencia,ubicacion,modalidad,jornada,contrato,skills,tecnologias_aptitudes,idiomas,vacaciones,beneficios,portal_empleo,salario_medio
0,34858.208955,NaN,NaN,1,3.0,España,Híbrido,Jornada completa,Indefinido,0,8,Inglés,<NA>,0,tecnoempleo,NaN
1,43729.166667,30000.0,30000.0,1,2.0,Extranjero,Presencial,Jornada completa,Temporal,0,8,Inglés,<NA>,0,tecnoempleo,30000.0
2,43729.166667,NaN,NaN,1,3.0,España,Híbrido,Jornada completa,Indefinido,0,11,Inglés,<NA>,0,tecnoempleo,NaN
3,34858.208955,NaN,NaN,1,5.0,España,Presencial,Jornada completa,Indefinido,0,11,Inglés,<NA>,0,tecnoempleo,NaN
4,34858.208955,27000.0,33000.0,1,2.0,España,Híbrido,Jornada completa,Indefinido,0,10,Inglés,<NA>,0,tecnoempleo,30000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5354,NaN,45000.0,45000.0,0,0.0,España,Teletrabajo,NaN,NaN,0,0,Otros,24,0,getmanfred,45000.0
5355,NaN,40000.0,50000.0,0,0.0,España,Híbrido,Jornada completa,NaN,0,0,Otros,28,0,getmanfred,45000.0
5356,NaN,50000.0,60000.0,0,0.0,España,Teletrabajo,NaN,NaN,0,0,Otros,22,0,getmanfred,55000.0
5357,NaN,40000.0,45000.0,0,0.0,España,Teletrabajo,Jornada completa,NaN,5,5,Otros,22,7,getmanfred,42500.0
5358,NaN,45000.0,55000.0,0,0.0,España,Teletrabajo,NaN,NaN,0,0,Otros,22,0,getmanfred,50000.0

In [19]:
ofertas_empleo = ofertas_empleo.drop(["salario_min", "salario_max"], axis = 1)

In [20]:
ofertas_empleo

,funcion,estudios,experiencia,ubicacion,modalidad,jornada,contrato,skills,tecnologias_aptitudes,idiomas,vacaciones,beneficios,portal_empleo,salario_medio
0,34858.208955,1,3.0,España,Híbrido,Jornada completa,Indefinido,0,8,Inglés,<NA>,0,tecnoempleo,NaN
1,43729.166667,1,2.0,Extranjero,Presencial,Jornada completa,Temporal,0,8,Inglés,<NA>,0,tecnoempleo,30000.0
2,43729.166667,1,3.0,España,Híbrido,Jornada completa,Indefinido,0,11,Inglés,<NA>,0,tecnoempleo,NaN
3,34858.208955,1,5.0,España,Presencial,Jornada completa,Indefinido,0,11,Inglés,<NA>,0,tecnoempleo,NaN
4,34858.208955,1,2.0,España,Híbrido,Jornada completa,Indefinido,0,10,Inglés,<NA>,0,tecnoempleo,30000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5354,NaN,0,0.0,España,Teletrabajo,NaN,NaN,0,0,Otros,24,0,getmanfred,45000.0
5355,NaN,0,0.0,España,Híbrido,Jornada completa,NaN,0,0,Otros,28,0,getmanfred,45000.0
5356,NaN,0,0.0,España,Teletrabajo,NaN,NaN,0,0,Otros,22,0,getmanfred,55000.0
5357,NaN,0,0.0,España,Teletrabajo,Jornada completa,NaN,5,5,Otros,22,7,getmanfred,42500.0
5358,NaN,0,0.0,España,Teletrabajo,NaN,NaN,0,0,Otros,22,0,getmanfred,50000.0

In [21]:
#VARIABLES CATEGORICAS (MODALIDAD, JORNADA, CONTRATO)

# modalidad teletrabajo/remoto/híbrido
ofertas_empleo["modalidad"] = ofertas_empleo["modalidad"].replace({"Teletrabajo" : "Remoto"})
#ESTO YA NO DEBERÍA PORQUE SE #ESTO YA NO DEBERÍA PORQUE SE VA A REEMPLAZADO ANTERIORMENTE EN FUNCION DE LA UBICACION
#ofertas_empleo["modalidad"] = ofertas_empleo["modalidad"].fillna("Desconocido")

#jornada, rellenamos nans con desconocida ESTO YA NO DEBERÍA PORQUE SE VA A RELLENAR CON KNN
#ofertas_empleo["jornada"] = ofertas_empleo["jornada"].fillna("Desconocida")

# reemplzar los que no sean obvios por "otros"
ofertas_empleo["contrato"] = ofertas_empleo["contrato"].replace({"Freelance/Autónomo" : "Otros",
                                                                 "Obra o servicio" : "Otros",
                                                                 "A determinar" : "Otros"})
#ESTO YA NO DEBERÍA PORQUE SE VA A RELLENAR CON KNN
#ofertas_empleo["contrato"] = ofertas_empleo["contrato"].fillna("Otros")

In [22]:
ofertas_empleo

,funcion,estudios,experiencia,ubicacion,modalidad,jornada,contrato,skills,tecnologias_aptitudes,idiomas,vacaciones,beneficios,portal_empleo,salario_medio
0,34858.208955,1,3.0,España,Híbrido,Jornada completa,Indefinido,0,8,Inglés,<NA>,0,tecnoempleo,NaN
1,43729.166667,1,2.0,Extranjero,Presencial,Jornada completa,Temporal,0,8,Inglés,<NA>,0,tecnoempleo,30000.0
2,43729.166667,1,3.0,España,Híbrido,Jornada completa,Indefinido,0,11,Inglés,<NA>,0,tecnoempleo,NaN
3,34858.208955,1,5.0,España,Presencial,Jornada completa,Indefinido,0,11,Inglés,<NA>,0,tecnoempleo,NaN
4,34858.208955,1,2.0,España,Híbrido,Jornada completa,Indefinido,0,10,Inglés,<NA>,0,tecnoempleo,30000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5354,NaN,0,0.0,España,Remoto,NaN,NaN,0,0,Otros,24,0,getmanfred,45000.0
5355,NaN,0,0.0,España,Híbrido,Jornada completa,NaN,0,0,Otros,28,0,getmanfred,45000.0
5356,NaN,0,0.0,España,Remoto,NaN,NaN,0,0,Otros,22,0,getmanfred,55000.0
5357,NaN,0,0.0,España,Remoto,Jornada completa,NaN,5,5,Otros,22,7,getmanfred,42500.0
5358,NaN,0,0.0,España,Remoto,NaN,NaN,0,0,Otros,22,0,getmanfred,50000.0

In [23]:
#map de PORTAL EMPLEO
ofertas_empleo["portal_empleo"] = ofertas_empleo["portal_empleo"].map({"tecnoempleo": 0,
                                                                       "getmanfred": 1})

In [24]:
ofertas_empleo

,funcion,estudios,experiencia,ubicacion,modalidad,jornada,contrato,skills,tecnologias_aptitudes,idiomas,vacaciones,beneficios,portal_empleo,salario_medio
0,34858.208955,1,3.0,España,Híbrido,Jornada completa,Indefinido,0,8,Inglés,<NA>,0,0,NaN
1,43729.166667,1,2.0,Extranjero,Presencial,Jornada completa,Temporal,0,8,Inglés,<NA>,0,0,30000.0
2,43729.166667,1,3.0,España,Híbrido,Jornada completa,Indefinido,0,11,Inglés,<NA>,0,0,NaN
3,34858.208955,1,5.0,España,Presencial,Jornada completa,Indefinido,0,11,Inglés,<NA>,0,0,NaN
4,34858.208955,1,2.0,España,Híbrido,Jornada completa,Indefinido,0,10,Inglés,<NA>,0,0,30000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5354,NaN,0,0.0,España,Remoto,NaN,NaN,0,0,Otros,24,0,1,45000.0
5355,NaN,0,0.0,España,Híbrido,Jornada completa,NaN,0,0,Otros,28,0,1,45000.0
5356,NaN,0,0.0,España,Remoto,NaN,NaN,0,0,Otros,22,0,1,55000.0
5357,NaN,0,0.0,España,Remoto,Jornada completa,NaN,5,5,Otros,22,7,1,42500.0
5358,NaN,0,0.0,España,Remoto,NaN,NaN,0,0,Otros,22,0,1,50000.0

voy a ir haciendo **KNN** de las columnas numericas funcion/vacaciones/salario_medio

In [26]:
#columnas relacionadas con FUNCION
columnas_para_knn = ["funcion", "tecnologias_aptitudes", "experiencia", "estudios"]

#aislar solo esas columnas
df_knn = ofertas_empleo[columnas_para_knn]

#knn imputer
imputer = KNNImputer(n_neighbors=5)

#imputar los datos para ajustarlos
df_knn_imputado = imputer.fit_transform(df_knn)

#reemplazar los datos de esa columna
ofertas_empleo["funcion"] = df_knn_imputado[:, 0]

In [27]:
#columnas relacionadas con VACACIONES
columnas_para_knn = ["vacaciones", "funcion", "experiencia"]

#aislar solo esas columnas
df_knn = ofertas_empleo[columnas_para_knn]

#knn imputer
imputer = KNNImputer(n_neighbors=5)

#imputar los datos para ajustarlos
df_knn_imputado = imputer.fit_transform(df_knn)

#reemplazar los datos de esa columna
ofertas_empleo["vacaciones"] = df_knn_imputado[:, 0]

In [28]:
#columnas relacionadas con SALARIO_MEDIO
columnas_para_knn = ["salario_medio", "experiencia", "estudios", "tecnologias_aptitudes"]

#aislar solo esas columnas
df_knn = ofertas_empleo[columnas_para_knn]

#knn imputer
imputer = KNNImputer(n_neighbors=5)

#imputar los datos para ajustarlos
df_knn_imputado = imputer.fit_transform(df_knn)

#reemplazar los datos de esa columna
ofertas_empleo["salario_medio"] = df_knn_imputado[:, 0]

In [29]:
ofertas_empleo

,funcion,estudios,experiencia,ubicacion,modalidad,jornada,contrato,skills,tecnologias_aptitudes,idiomas,vacaciones,beneficios,portal_empleo,salario_medio
0,34858.208955,1,3.0,España,Híbrido,Jornada completa,Indefinido,0,8,Inglés,25.6,0,0,37800.0
1,43729.166667,1,2.0,Extranjero,Presencial,Jornada completa,Temporal,0,8,Inglés,23.2,0,0,30000.0
2,43729.166667,1,3.0,España,Híbrido,Jornada completa,Indefinido,0,11,Inglés,23.2,0,0,39900.0
3,34858.208955,1,5.0,España,Presencial,Jornada completa,Indefinido,0,11,Inglés,25.6,0,0,41100.0
4,34858.208955,1,2.0,España,Híbrido,Jornada completa,Indefinido,0,10,Inglés,25.6,0,0,30000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5354,49333.333333,0,0.0,España,Remoto,NaN,NaN,0,0,Otros,24.0,0,1,45000.0
5355,49333.333333,0,0.0,España,Híbrido,Jornada completa,NaN,0,0,Otros,28.0,0,1,45000.0
5356,49333.333333,0,0.0,España,Remoto,NaN,NaN,0,0,Otros,22.0,0,1,55000.0
5357,39794.122937,0,0.0,España,Remoto,Jornada completa,NaN,5,5,Otros,22.0,7,1,42500.0
5358,49333.333333,0,0.0,España,Remoto,NaN,NaN,0,0,Otros,22.0,0,1,50000.0

en principio faltaria **quitar los nans de jornada y contrato**, al tener poco vol. de nans y no afectar significativamente en los resultados, vamos a rellenarlo con la **moda**

In [31]:
# moda jornada
moda_jornada = ofertas_empleo["jornada"].mode()[0]
ofertas_empleo["jornada"] = ofertas_empleo["jornada"].fillna(moda_jornada)

# moda contrato
moda_contrato = ofertas_empleo["contrato"].mode()[0]
ofertas_empleo["contrato"] = ofertas_empleo["contrato"].fillna(moda_contrato)

In [32]:
ofertas_empleo

,funcion,estudios,experiencia,ubicacion,modalidad,jornada,contrato,skills,tecnologias_aptitudes,idiomas,vacaciones,beneficios,portal_empleo,salario_medio
0,34858.208955,1,3.0,España,Híbrido,Jornada completa,Indefinido,0,8,Inglés,25.6,0,0,37800.0
1,43729.166667,1,2.0,Extranjero,Presencial,Jornada completa,Temporal,0,8,Inglés,23.2,0,0,30000.0
2,43729.166667,1,3.0,España,Híbrido,Jornada completa,Indefinido,0,11,Inglés,23.2,0,0,39900.0
3,34858.208955,1,5.0,España,Presencial,Jornada completa,Indefinido,0,11,Inglés,25.6,0,0,41100.0
4,34858.208955,1,2.0,España,Híbrido,Jornada completa,Indefinido,0,10,Inglés,25.6,0,0,30000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5354,49333.333333,0,0.0,España,Remoto,Jornada completa,Indefinido,0,0,Otros,24.0,0,1,45000.0
5355,49333.333333,0,0.0,España,Híbrido,Jornada completa,Indefinido,0,0,Otros,28.0,0,1,45000.0
5356,49333.333333,0,0.0,España,Remoto,Jornada completa,Indefinido,0,0,Otros,22.0,0,1,55000.0
5357,39794.122937,0,0.0,España,Remoto,Jornada completa,Indefinido,5,5,Otros,22.0,7,1,42500.0
5358,49333.333333,0,0.0,España,Remoto,Jornada completa,Indefinido,0,0,Otros,22.0,0,1,50000.0

In [33]:
#columnas con mapeo 1/0: IDIOMAS/UBICACION
ofertas_empleo["idiomas"] = ofertas_empleo["idiomas"].map({"Inglés": 0,
                                                           "Otros": 1})
ofertas_empleo["ubicacion"] = ofertas_empleo["ubicacion"].map({"España": 0,
                                                               "Extranjero": 1})

In [34]:
ofertas_empleo

,funcion,estudios,experiencia,ubicacion,modalidad,jornada,contrato,skills,tecnologias_aptitudes,idiomas,vacaciones,beneficios,portal_empleo,salario_medio
0,34858.208955,1,3.0,0,Híbrido,Jornada completa,Indefinido,0,8,0,25.6,0,0,37800.0
1,43729.166667,1,2.0,1,Presencial,Jornada completa,Temporal,0,8,0,23.2,0,0,30000.0
2,43729.166667,1,3.0,0,Híbrido,Jornada completa,Indefinido,0,11,0,23.2,0,0,39900.0
3,34858.208955,1,5.0,0,Presencial,Jornada completa,Indefinido,0,11,0,25.6,0,0,41100.0
4,34858.208955,1,2.0,0,Híbrido,Jornada completa,Indefinido,0,10,0,25.6,0,0,30000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5354,49333.333333,0,0.0,0,Remoto,Jornada completa,Indefinido,0,0,1,24.0,0,1,45000.0
5355,49333.333333,0,0.0,0,Híbrido,Jornada completa,Indefinido,0,0,1,28.0,0,1,45000.0
5356,49333.333333,0,0.0,0,Remoto,Jornada completa,Indefinido,0,0,1,22.0,0,1,55000.0
5357,39794.122937,0,0.0,0,Remoto,Jornada completa,Indefinido,5,5,1,22.0,7,1,42500.0
5358,49333.333333,0,0.0,0,Remoto,Jornada completa,Indefinido,0,0,1,22.0,0,1,50000.0

In [36]:
#ahora sí el ultimo paso sería hacer el one-hot encoding de las columnas categóricas que quedan MODALIDAD/JORNADA/CONTRATO
col_categoricas = ["modalidad", "jornada", "contrato"]

#iniciamos el encoder
encoder = OneHotEncoder(sparse_output=False, handle_unknown="error")

#aplicamos en las col categoricas
encoded_values = encoder.fit_transform(ofertas_empleo[col_categoricas])

#las ponemos en un dataframe
encoded_df = pd.DataFrame(encoded_values, columns=encoder.get_feature_names_out(col_categoricas))

#las concatenamos a nuestro dataframe
df_final_clustering = pd.concat([ofertas_empleo.drop(columns=col_categoricas), encoded_df], axis=1)

In [38]:
df_final_clustering

,funcion,estudios,experiencia,ubicacion,skills,tecnologias_aptitudes,idiomas,vacaciones,beneficios,portal_empleo,...,modalidad_Híbrido,modalidad_Presencial,modalidad_Remoto,jornada_Jornada completa,jornada_Media jornada,jornada_Por horas,contrato_Indefinido,contrato_Otros,contrato_Prácticas,contrato_Temporal
0,34858.208955,1,3.0,0,0,8,0,25.6,0,0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1,43729.166667,1,2.0,1,0,8,0,23.2,0,0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,43729.166667,1,3.0,0,0,11,0,23.2,0,0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
3,34858.208955,1,5.0,0,0,11,0,25.6,0,0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4,34858.208955,1,2.0,0,0,10,0,25.6,0,0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5354,49333.333333,0,0.0,0,0,0,1,24.0,0,1,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
5355,49333.333333,0,0.0,0,0,0,1,28.0,0,1,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
5356,49333.333333,0,0.0,0,0,0,1,22.0,0,1,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
5357,39794.122937,0,0.0,0,5,5,1,22.0,7,1,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
5358,49333.333333,0,0.0,0,0,0,1,22.0,0,1,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [42]:
df_final_clustering.columns

Index(['funcion', 'estudios', 'experiencia', 'ubicacion', 'skills',
       'tecnologias_aptitudes', 'idiomas', 'vacaciones', 'beneficios',
       'portal_empleo', 'salario_medio', 'modalidad_Híbrido',
       'modalidad_Presencial', 'modalidad_Remoto', 'jornada_Jornada completa',
       'jornada_Media jornada', 'jornada_Por horas', 'contrato_Indefinido',
       'contrato_Otros', 'contrato_Prácticas', 'contrato_Temporal'],
      dtype='object')