In [17]:
import pandas as pd
df_final = pd.read_csv("df_final.csv",
                      dtype={"salario_min": "float64",
                             "salario_max": "float64",
                             "estudios": "bool",
                             "experiencia": "float64",
                             "vacaciones": "Int64"},
                      parse_dates=["fecha", "fecha_extraccion"])

In [19]:
df_final.head()

,id_urls,fecha,oferta,empresa,funcion,salario_min,salario_max,estudios,experiencia,ubicacion,...,jornada,contrato,skills,tecnologias_aptitudes,idiomas,vacaciones,beneficios,portal_empleo,descripcion,fecha_extraccion
0,https://www.tecnoempleo.com/programador-fullst...,2025-04-17,Programador FullStack,Dev&del,Analista Programador,NaN,NaN,True,3.0,Madrid,...,Jornada completa,Indefinido,NaN,"java, javascript, spring, angular, react, html...",Inglés,<NA>,NaN,tecnoempleo,Descripción de la oferta de empleo ¿Eres una p...,2025-04-17 13:30:13.871
1,https://www.tecnoempleo.com/analista-programad...,2025-04-17,Analista Programador en PHP,Codicert,Programador,30000.0,30000.0,True,2.0,Malta,...,Jornada completa,Temporal,NaN,"php7, phpunit, ajax, composer, poo, psr4, svn,...",Inglés,<NA>,NaN,tecnoempleo,Descripción de la oferta de empleo ¡Únete a nu...,2025-04-17 13:30:15.038
2,https://www.tecnoempleo.com/senior-backend-dev...,2025-04-17,Senior Backend Developer (.NET/ Go/ PHP),WebBeds,Programador,NaN,NaN,True,3.0,Baleares,...,Jornada completa,Indefinido,NaN,"C#, Golang, PHP, git, kubernetes, api, data, c...",Inglés,<NA>,NaN,tecnoempleo,Descripción de la oferta de empleo How will yo...,2025-04-17 13:30:16.207
3,https://www.tecnoempleo.com/software-engineeri...,2025-04-17,Software Engineering Manager,Solera,Analista Programador,NaN,NaN,True,5.0,Madrid,...,Jornada completa,Indefinido,NaN,"Java, REST, API, Git, CI/CD, Hibernate, Docker...",Inglés,<NA>,NaN,tecnoempleo,Descripción de la oferta de empleo 7+ years of...,2025-04-17 13:30:17.374
4,https://www.tecnoempleo.com/front-developer-se...,2025-04-17,Front Developer Senior,Mytic Innova,Analista Programador,27000.0,33000.0,True,2.0,Barcelona,...,Jornada completa,Indefinido,NaN,"Java, Angular, SQL, SCRUM, Git, Html, CSS, Boo...",Inglés,<NA>,NaN,tecnoempleo,Descripción de la oferta de empleo Mytic Innov...,2025-04-17 13:30:18.542

In [7]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5236 entries, 0 to 5235
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id_urls                5236 non-null   object
 1   fecha                  5225 non-null   datetime64[ns]
 2   oferta                 5236 non-null   object
 3   empresa                5233 non-null   object
 4   funcion                3956 non-null   object
 5   salario_min            2009 non-null   float64
 6   salario_max            2009 non-null   float64
 7   estudios               5236 non-null   bool
 8   experiencia            3956 non-null   float64
 9   ubicacion              4221 non-null   object
 10  modalidad              3409 non-null   object
 11  jornada                4989 non-null   object
 12  contrato               3956 non-null   object
 13  skills                 1169 non-null   object
 14  tecnologias_aptitudes  5057 non-null   object
 15  idiomas                903 non-null    object
 16  vacaciones             1277 non-null   Int64
 17  beneficios             1090 non-null   object
 18  portal_empleo          5236 non-null   object
 19  descripcion            5235 non-null   object
 20  fecha_extraccion       5236 non-null   datetime64[ns]
dtypes: Int64(1), bool(1), datetime64[ns](2), float64(3), object(14)
memory usage: 828.5+ KB

In [11]:
df_final['descripcion'] = df_final['descripcion'].fillna('').astype(str)
df_final['skills'] = df_final['skills'].fillna('')
habilidades_unicas = (df_final['skills'].str.split(',').explode().str.strip().dropna().unique())
habilidades_unicas = [h for h in habilidades_unicas if h]

# 3. Función para completar habilidades desde descripción
def completar_habilidades(row):
    if row['skills'].strip() == '':
        habilidades_encontradas = [h for h in habilidades_unicas if h.lower() in row['descripcion'].lower()]
        return ', '.join(habilidades_encontradas) if habilidades_encontradas else None
    return row['skills']

# 4. Aplicar función
df_final['skills'] = df_final.apply(completar_habilidades, axis=1)

In [11]:
df_final['descripcion'] = df_final['descripcion'].fillna('').astype(str)
df_final['skills'] = df_final['skills'].fillna('')
habilidades_unicas = (df_final['skills'].str.split(',').explode().str.strip().dropna().unique())
habilidades_unicas = [h for h in habilidades_unicas if h]

# 3. Función para completar habilidades desde descripción
def completar_habilidades(row):
    if row['skills'].strip() == '':
        habilidades_encontradas = [h for h in habilidades_unicas if h.lower() in row['descripcion'].lower()]
        return ', '.join(habilidades_encontradas) if habilidades_encontradas else None
    return row['skills']

# 4. Aplicar función
df_final['skills'] = df_final.apply(completar_habilidades, axis=1)

In [13]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5236 entries, 0 to 5235
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id_urls                5236 non-null   object
 1   fecha                  5225 non-null   datetime64[ns]
 2   oferta                 5236 non-null   object
 3   empresa                5233 non-null   object
 4   funcion                3956 non-null   object
 5   salario_min            2009 non-null   float64
 6   salario_max            2009 non-null   float64
 7   estudios               5236 non-null   bool
 8   experiencia            3956 non-null   float64
 9   ubicacion              4221 non-null   object
 10  modalidad              3409 non-null   object
 11  jornada                4989 non-null   object
 12  contrato               3956 non-null   object
 13  skills                 1877 non-null   object
 14  tecnologias_aptitudes  5057 non-null   object
 15  idiomas                903 non-null    object
 16  vacaciones             1277 non-null   Int64
 17  beneficios             1090 non-null   object
 18  portal_empleo          5236 non-null   object
 19  descripcion            5236 non-null   object
 20  fecha_extraccion       5236 non-null   datetime64[ns]
dtypes: Int64(1), bool(1), datetime64[ns](2), float64(3), object(14)
memory usage: 828.5+ KB