In [1]:
import pandas as pd
import numpy as np

In [2]:
df1_limpio = pd.read_csv("../csv/csv_limpios/Tecnoempleo_limpio.csv")
df2_limpio = pd.read_csv("../csv/csv_limpios/Manfred_limpio.csv")

In [3]:
df = pd.concat([df1_limpio, df2_limpio], ignore_index=True)

In [4]:
df.shape

(5236, 21)

In [5]:
columnas_ordenadas = ["id_urls", "fecha", "oferta", "empresa", "funcion", "salario_min", "salario_max",
                      "estudios", "experiencia", "ubicacion", "modalidad", "jornada", "contrato", "skills",
                      "tecnologias_aptitudes", "idiomas", "vacaciones", "beneficios", "portal_empleo", "descripcion","fecha_extraccion"]
df = df[columnas_ordenadas]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5236 entries, 0 to 5235
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id_urls                5236 non-null   object
 1   fecha                  5225 non-null   object
 2   oferta                 5236 non-null   object
 3   empresa                5233 non-null   object
 4   funcion                3956 non-null   object
 5   salario_min            2009 non-null   float64
 6   salario_max            2009 non-null   float64
 7   estudios               3957 non-null   object
 8   experiencia            3956 non-null   float64
 9   ubicacion              4221 non-null   object
 10  modalidad              3409 non-null   object
 11  jornada                4989 non-null   object
 12  contrato               3956 non-null   object
 13  skills                 1169 non-null   object
 14  tecnologias_aptitudes  5057 non-null   object
 15  idiomas                903 non-null    object
 16  vacaciones             1277 non-null   float64
 17  beneficios             1090 non-null   object
 18  portal_empleo          5236 non-null   object
 19  descripcion            5235 non-null   object
 20  fecha_extraccion       5236 non-null   object
dtypes: float64(4), object(17)
memory usage: 859.2+ KB

In [7]:
df.head()

,id_urls,fecha,oferta,empresa,funcion,salario_min,salario_max,estudios,experiencia,ubicacion,...,jornada,contrato,skills,tecnologias_aptitudes,idiomas,vacaciones,beneficios,portal_empleo,descripcion,fecha_extraccion
0,https://www.tecnoempleo.com/programador-fullst...,2025-04-17,Programador FullStack,Dev&del,Analista Programador,NaN,NaN,True,3.0,Madrid,...,Jornada completa,Indefinido,NaN,"java, javascript, spring, angular, react, html...",Inglés,NaN,NaN,tecnoempleo,Descripción de la oferta de empleo ¿Eres una p...,2025-04-17 13:30:13.871
1,https://www.tecnoempleo.com/analista-programad...,2025-04-17,Analista Programador en PHP,Codicert,Programador,30000.0,30000.0,True,2.0,Malta,...,Jornada completa,Temporal,NaN,"php7, phpunit, ajax, composer, poo, psr4, svn,...",Inglés,NaN,NaN,tecnoempleo,Descripción de la oferta de empleo ¡Únete a nu...,2025-04-17 13:30:15.038
2,https://www.tecnoempleo.com/senior-backend-dev...,2025-04-17,Senior Backend Developer (.NET/ Go/ PHP),WebBeds,Programador,NaN,NaN,True,3.0,Baleares,...,Jornada completa,Indefinido,NaN,"C#, Golang, PHP, git, kubernetes, api, data, c...",Inglés,NaN,NaN,tecnoempleo,Descripción de la oferta de empleo How will yo...,2025-04-17 13:30:16.207
3,https://www.tecnoempleo.com/software-engineeri...,2025-04-17,Software Engineering Manager,Solera,Analista Programador,NaN,NaN,True,5.0,Madrid,...,Jornada completa,Indefinido,NaN,"Java, REST, API, Git, CI/CD, Hibernate, Docker...",Inglés,NaN,NaN,tecnoempleo,Descripción de la oferta de empleo 7+ years of...,2025-04-17 13:30:17.374
4,https://www.tecnoempleo.com/front-developer-se...,2025-04-17,Front Developer Senior,Mytic Innova,Analista Programador,27000.0,33000.0,True,2.0,Barcelona,...,Jornada completa,Indefinido,NaN,"Java, Angular, SQL, SCRUM, Git, Html, CSS, Boo...",Inglés,NaN,NaN,tecnoempleo,Descripción de la oferta de empleo Mytic Innov...,2025-04-17 13:30:18.542

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5236 entries, 0 to 5235
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id_urls                5236 non-null   object
 1   fecha                  5225 non-null   object
 2   oferta                 5236 non-null   object
 3   empresa                5233 non-null   object
 4   funcion                3956 non-null   object
 5   salario_min            2009 non-null   float64
 6   salario_max            2009 non-null   float64
 7   estudios               3957 non-null   object
 8   experiencia            3956 non-null   float64
 9   ubicacion              4221 non-null   object
 10  modalidad              3409 non-null   object
 11  jornada                4989 non-null   object
 12  contrato               3956 non-null   object
 13  skills                 1169 non-null   object
 14  tecnologias_aptitudes  5057 non-null   object
 15  idiomas                903 non-null    object
 16  vacaciones             1277 non-null   float64
 17  beneficios             1090 non-null   object
 18  portal_empleo          5236 non-null   object
 19  descripcion            5235 non-null   object
 20  fecha_extraccion       5236 non-null   object
dtypes: float64(4), object(17)
memory usage: 859.2+ KB

In [9]:
df.head()

,id_urls,fecha,oferta,empresa,funcion,salario_min,salario_max,estudios,experiencia,ubicacion,...,jornada,contrato,skills,tecnologias_aptitudes,idiomas,vacaciones,beneficios,portal_empleo,descripcion,fecha_extraccion
0,https://www.tecnoempleo.com/programador-fullst...,2025-04-17,Programador FullStack,Dev&del,Analista Programador,NaN,NaN,True,3.0,Madrid,...,Jornada completa,Indefinido,NaN,"java, javascript, spring, angular, react, html...",Inglés,NaN,NaN,tecnoempleo,Descripción de la oferta de empleo ¿Eres una p...,2025-04-17 13:30:13.871
1,https://www.tecnoempleo.com/analista-programad...,2025-04-17,Analista Programador en PHP,Codicert,Programador,30000.0,30000.0,True,2.0,Malta,...,Jornada completa,Temporal,NaN,"php7, phpunit, ajax, composer, poo, psr4, svn,...",Inglés,NaN,NaN,tecnoempleo,Descripción de la oferta de empleo ¡Únete a nu...,2025-04-17 13:30:15.038
2,https://www.tecnoempleo.com/senior-backend-dev...,2025-04-17,Senior Backend Developer (.NET/ Go/ PHP),WebBeds,Programador,NaN,NaN,True,3.0,Baleares,...,Jornada completa,Indefinido,NaN,"C#, Golang, PHP, git, kubernetes, api, data, c...",Inglés,NaN,NaN,tecnoempleo,Descripción de la oferta de empleo How will yo...,2025-04-17 13:30:16.207
3,https://www.tecnoempleo.com/software-engineeri...,2025-04-17,Software Engineering Manager,Solera,Analista Programador,NaN,NaN,True,5.0,Madrid,...,Jornada completa,Indefinido,NaN,"Java, REST, API, Git, CI/CD, Hibernate, Docker...",Inglés,NaN,NaN,tecnoempleo,Descripción de la oferta de empleo 7+ years of...,2025-04-17 13:30:17.374
4,https://www.tecnoempleo.com/front-developer-se...,2025-04-17,Front Developer Senior,Mytic Innova,Analista Programador,27000.0,33000.0,True,2.0,Barcelona,...,Jornada completa,Indefinido,NaN,"Java, Angular, SQL, SCRUM, Git, Html, CSS, Boo...",Inglés,NaN,NaN,tecnoempleo,Descripción de la oferta de empleo Mytic Innov...,2025-04-17 13:30:18.542

In [10]:
df.shape

(5236, 21)

In [11]:
df_competencias = pd.read_csv("../csv/Competencias Técnicas-UPDATE.csv")

In [12]:
df_competencias.head()

,Competencia,Roles,Cursos,Clasificación,Especificación,Tipo de desarrollo,Asociado a...
0,.NET,NaN,NaN,NaN,NaN,NaN,NaN
1,.NETCore,NaN,NaN,Framework,NaN,Back-end,C#
2,Abstract Factory,NaN,NaN,Patrones de diseño y Arquitectura del software,Patrón de creación,Back-end,NaN
3,Aceptación,QA Tester,NaN,Testing,Tipo de testing,NaN,NaN
4,Acknowledgement,NaN,NaN,Patrón de resiliencia,NaN,NaN,NaN

In [13]:
df["tecnologias_aptitudes"] = df["tecnologias_aptitudes"].str.lower()

In [14]:
df_competencias["Competencia"] = df_competencias["Competencia"].str.lower()

In [15]:
def limpiar_columna_tecnologias_aptitudes(df_a, columna_valores, df_b, columna_a_limpiar):
    # Obtener valores únicos limpios del primer DataFrame
    valores_validos = (
        df_a[columna_valores]
        .dropna()
        .astype(str)
        .str.strip()
        .unique()
    )
    valores_validos = [v.strip() for v in valores_validos if v]  # eliminar vacíos

    # Función para limpiar los valores en la columna del segundo DataFrame
    def filtrar_valores(cadena):
        if pd.isna(cadena):
            return None
        elementos = [v.strip() for v in cadena.split(",")]
        filtrados = [v for v in elementos if v in valores_validos]
        return ", ".join(filtrados) if filtrados else None

    # Aplicar limpieza
    df_b[columna_a_limpiar] = df_b[columna_a_limpiar].apply(filtrar_valores)
    return df_b

In [16]:
df = limpiar_columna_tecnologias_aptitudes(df_competencias, "Competencia", df, "tecnologias_aptitudes")

In [17]:
def completar_columna(df, columna_objetivo, columna_busqueda):
    # Rellenar NaNs
    df[columna_objetivo] = df[columna_objetivo].fillna('')
    df[columna_busqueda] = df[columna_busqueda].fillna('').astype(str)

    # Extraer valores únicos limpios de la columna objetivo
    valores_unicos = (
        df[columna_objetivo]
        .str.split(',')
        .explode()
        .str.strip()
        .dropna()
        .unique()
    )
    valores_unicos = [v for v in valores_unicos if v]  # eliminar vacíos

    # Función para completar valores ausentes
    def completar(row):
        if row[columna_objetivo].strip() == '':
            encontrados = [v for v in valores_unicos if v.lower() in row[columna_busqueda].lower()]
            return ', '.join(encontrados) if encontrados else None
        return row[columna_objetivo]

    # Aplicar al DataFrame
    df[columna_objetivo] = df.apply(completar, axis=1)
    return df

In [18]:
df = completar_columna(df, "skills", "descripcion")

In [19]:
df = completar_columna(df, "beneficios", "descripcion")

In [20]:
def completar_columna_experiencia(df, columna_objetivo, columna_busqueda):
    # Rellenar NaNs
    df[columna_objetivo] = df[columna_objetivo].fillna('').astype(str)
    df[columna_busqueda] = df[columna_busqueda].fillna('').astype(str)

    # Lista fija de valores únicos (experiencias)
    valores_unicos = [
        "Sin experiencia",
        "Menos de un año de experiencia",
        "1 año de experiencia",
        "2 años de experiencia",
        "3 años de experiencia",
        "3-5 años de experiencia",
        "Más de 5 años de experiencia",
        "Más de 10 años de experiencia"
    ]

    # Función para completar valores ausentes
    def completar(row):
        objetivo = str(row[columna_objetivo]).strip()
        busqueda = str(row[columna_busqueda]).lower()
        if objetivo == '':
            encontrados = [v for v in valores_unicos if v.lower() in busqueda]
            return ', '.join(encontrados) if encontrados else None
        return row[columna_objetivo]

    # Aplicar al DataFrame
    df[columna_objetivo] = df.apply(completar, axis=1)
    return df

In [21]:
df = completar_columna_experiencia(df, "experiencia", "descripcion")

In [22]:
df["experiencia"].value_counts()

experiencia
3.0                                            2131
5.0                                             740
2.0                                             580
1.0                                             311
3 años de experiencia                            99
10.0                                             85
0.0                                              72
0.5                                              37
2 años de experiencia                            25
1 año de experiencia                              9
Más de 5 años de experiencia                      3
3-5 años de experiencia                           3
Sin experiencia, 3 años de experiencia            1
Más de 10 años de experiencia                     1
1 año de experiencia, 3 años de experiencia       1
Name: count, dtype: int64

In [23]:
experiencia_requerida = {
    "Sin experiencia": 0,
    "Menos de un año de experiencia": 0.5,
    "1 año de experiencia": 1,
    "2 años de experiencia": 2,
    "3 años de experiencia": 3,
    "3-5 años de experiencia": 3,
    "Más de 5 años de experiencia": 5,
    "Más de 10 años de experiencia": 10
}

def limpiar_experiencia(valor):
    # Si ya es un número, lo mantenemos
    if isinstance(valor, (int, float)) and not pd.isna(valor):
        return valor

    # Si es un string, tratamos de convertirlo o mapearlo
    if isinstance(valor, str):
        valor = valor.strip()

        # Intentar convertir directamente a número (ej. '3.0', '5')
        try:
            return float(valor)
        except ValueError:
            pass

        # Si contiene varias experiencias (ej. 'Sin experiencia, 3 años de experiencia')
        if "," in valor:
            partes = [v.strip() for v in valor.split(",")]
            valores_convertidos = [experiencia_requerida.get(p) for p in partes if experiencia_requerida.get(p) is not None]
            if valores_convertidos:
                return max(valores_convertidos)  # puedes cambiar por min() o promedio
            else:
                return None

        # Si es un valor mapeado único
        return experiencia_requerida.get(valor, None)

    return None

In [24]:
df["experiencia"] = df["experiencia"].apply(limpiar_experiencia)

In [25]:
df["experiencia"].value_counts()

experiencia
3.0     2235
5.0      743
2.0      605
1.0      320
10.0      86
0.0       72
0.5       37
Name: count, dtype: int64

In [26]:
def completar_columna_contrato(df, columna_objetivo, columna_busqueda):
    # Rellenar NaNs
    df[columna_objetivo] = df[columna_objetivo].fillna('').astype(str)
    df[columna_busqueda] = df[columna_busqueda].fillna('').astype(str)

    # Lista fija de valores únicos (experiencias)
    valores_unicos = [
        'Indefinido', 'Temporal', 'A determinar', 'Freelance/Autónomo',
       'Prácticas', 'Obra o servicio'
    ]

    # Función para completar valores ausentes
    def completar(row):
        objetivo = str(row[columna_objetivo]).strip()
        busqueda = str(row[columna_busqueda]).lower()
        if objetivo == '':
            encontrados = [v for v in valores_unicos if v.lower() in busqueda]
            return ', '.join(encontrados) if encontrados else None
        return row[columna_objetivo]

    # Aplicar al DataFrame
    df[columna_objetivo] = df.apply(completar, axis=1)
    return df

In [27]:
df = completar_columna_contrato(df, "contrato", "descripcion")

In [28]:
df = df.replace(np.nan, None)

In [29]:
df["fecha"] = pd.to_datetime(df["fecha"])
df["salario_min"] = df["salario_min"].astype(float)
df["salario_max"] = df["salario_max"].astype(float)
df["estudios"] = df["estudios"].astype(bool)
df["experiencia"] = df["experiencia"].astype(float)
df["vacaciones"] = df["vacaciones"].astype("Int64")
df["fecha_extraccion"] = pd.to_datetime(df["fecha_extraccion"])

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5236 entries, 0 to 5235
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id_urls                5236 non-null   object
 1   fecha                  5225 non-null   datetime64[ns]
 2   oferta                 5236 non-null   object
 3   empresa                5233 non-null   object
 4   funcion                3956 non-null   object
 5   salario_min            2009 non-null   float64
 6   salario_max            2009 non-null   float64
 7   estudios               5236 non-null   bool
 8   experiencia            4098 non-null   float64
 9   ubicacion              4221 non-null   object
 10  modalidad              3409 non-null   object
 11  jornada                4989 non-null   object
 12  contrato               4409 non-null   object
 13  skills                 1877 non-null   object
 14  tecnologias_aptitudes  4135 non-null   object
 15  idiomas                903 non-null    object
 16  vacaciones             1277 non-null   Int64
 17  beneficios             1568 non-null   object
 18  portal_empleo          5236 non-null   object
 19  descripcion            5236 non-null   object
 20  fecha_extraccion       5236 non-null   datetime64[ns]
dtypes: Int64(1), bool(1), datetime64[ns](2), float64(3), object(14)
memory usage: 828.5+ KB

In [31]:
df.to_csv("../csv/df_final_limpio.csv", index=False)